<footer class="site-footer padding-section">
  <div class="container-fluid footer-content">

    <!-- Logo -->
    <div class="footer-logo">
      <img src="/assets_front/images/logo-mor.svg" alt="Logo MOR">
    </div>

    <!-- Navegación -->
    <nav class="footer-nav">
      <ul class="footer-links">
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/products/catalog">Catálogo</a></li>
        <li><a href="/products/offers">Ofertas</a></li>
      </ul>
    </nav>

    <!-- Redes sociales -->
    <div class="footer-social">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <!-- <img src="/assets_front/icons/facebook.svg" alt="Facebook"> -->
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
        </svg>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <!-- <img src="/assets_front/icons/instagram.svg" alt="Instagram"> -->
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
          <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
        </svg>
      </a>
      <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <!-- <img src="/assets_front/icons/tiktok.svg" alt="TikTok"> -->
        <svg  width="32" height="32" fill="#ffffff" viewBox="0 0 256 256">
          <path d="M224,72a48.05,48.05,0,0,1-48-48,8,8,0,0,0-8-8H128a8,8,0,0,0-8,8V156a20,20,0,1,1-28.57-18.08A8,8,0,0,0,96,130.69V88a8,8,0,0,0-9.4-7.88C50.91,86.48,24,119.1,24,156a76,76,0,0,0,152,0V116.29A103.25,103.25,0,0,0,224,128a8,8,0,0,0,8-8V80A8,8,0,0,0,224,72Zm-8,39.64a87.19,87.19,0,0,1-43.33-16.15A8,8,0,0,0,160,102v54a60,60,0,0,1-120,0c0-25.9,16.64-49.13,40-57.6v27.67A36,36,0,1,0,136,156V32h24.5A64.14,64.14,0,0,0,216,87.5Z"></path>
        </svg>
      </a>
    </div>

  </div>
</footer>


<%- include('scripts') %>
</body>

</html>