<header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/products/catalog">Catálogo</a></li>
      <li><a href="/products/cart">Carrito</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/register">Registrarse</a></li>
    </ul>
  </nav>
</header>
  