<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title ? `${title} | MOR` : 'MOR' %></title>

  <!-- Metadatos Open Graph -->
  <meta property="og:title" content="MOR - Mundo de Osos y Regalos">
  <meta property="og:description" content="Ecommerce dedicado a la venta de peluches y juguetes. Ofrecemos una amplia variedad de productos pensados para niños, jóvenes y adultos, ideales para regalar en fechas especiales o simplemente para disfrutar. Buscamos brindar una experiencia de compra cálida, segura y fácil.">
  <meta property="og:image" content="/assets_front/images/og-image.png">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="MOR">

  <meta name="description" content="Ecommerce dedicado a la venta de peluches y juguetes. Ofrecemos una amplia variedad de productos pensados para niños, jóvenes y adultos, ideales para regalar en fechas especiales o simplemente para disfrutar. Buscamos brindar una experiencia de compra cálida, segura y fácil.">
  <meta name="keywords" content="MOR, productos, peluches, juguetes">
  <meta name="author" content="Naza Sosa">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/assets_front/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets_front/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/assets_front/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets_front/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/assets_front/favicon/site.webmanifest" />

  <!-- CSS -->
  <link rel="stylesheet" href="/assets_front/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/assets_front/css/style.css">

</head>

<body>