<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main>

  <section class="login-container">
    <div class="login-card">
      <div class="login-header">
        <h1 class="login-title">Crear Cuenta</h1>
      </div>

      <form class="login-form" action="/users/register" method="POST" enctype="multipart/form-data">

        <label for="name" class="form-label">Nombre</label>
        <input type="name" name="name" id="name" class="form-input" placeholder="Nombre" />

        <label for="lastname" class="form-label">Apellido</label>
        <input type="lastname" name="lastname" id="lastname" class="form-input" placeholder="Apellido" />

        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-input" placeholder="Email" />

        <label for="image" class="form-label">Imagen de perfil</label>
        <input type="file" name="image" id="image" class="form-input" accept="image/*" />

        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" id="password" class="form-input" placeholder="Contraseña" />

        <button type="submit" class="login-btn">Crear</button>
      </form>

      <div class="login-links">
        <a href="/users/login" class="login-link">Regresar a Iniciar Sesión</a>
      </div>
    </div>
  </section>

</main>

<%- include('../partials/footer') %>