<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main>

    <section class="container">
        <h1>Crear nuevo producto</h1>
        <form action="/products/create" method="POST" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Nombre del producto" required />
          <textarea name="description" placeholder="Descripción" required></textarea>
          <input type="file" name="image" required />
          <input type="text" name="category" placeholder="Categoría" required />
          <input type="text" name="colors" placeholder="Colores disponibles" />
          <input type="number" step="0.01" name="price" placeholder="Precio" required />
          <button type="submit">Crear producto</button>
        </form>
    </section>

</main>

<%- include('../partials/footer') %>