<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main>
  <h1>Detalle del Producto</h1>
  <p>Nombre: Producto ejemplo</p>
  <p>Descripción: Este es un producto de ejemplo.</p>
  <p>Precio: $00.00</p>
</main>

<%- include('../partials/footer') %>
